body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

button {
  background-color: rgb(109, 152, 252);
}

button:not(:last-child) {
  margin-right: 10px;
}
